.section-wrapper {
  flex: 1 1 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1288px;
  padding-top: 140px;
  /* border: 1px red solid; */
  text-align: center;
}

.details-wrapper {
  align-self: center;
  /* border: 1px red solid; */
}

.image {
  width: 480px;
  height: 240px;
}

.reciept {
  display: flex;
  justify-content: space-around;
}

.part {
  display: flex;
  flex-direction: column;
  text-align: center;
}