.wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.item {
  display: flex;
  flex: 0 0 80px;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  position: relative;
}

.item *:first-child {
  margin-right: 4px;
}

.item:last-child {
  padding-bottom: 0;
}