body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  /* border: 1px green solid; */
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

#root {
  max-height: 100%;
  /* border: 2px purple solid; */
  box-sizing: border-box;
}

.app-wrapper {
  /* border: 3px blue solid; */
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  overflow: hidden;
  /* border: 1px red solid; */
}

.section-wrapper {
  flex: 0 0 601px;
  display: flex;
  flex-direction: column;
  /* border: 3px #323232 dashed; */
  overflow: hidden;
  box-sizing: border-box;
}

.scroll-box {
  /* max-height: 716px; */
  /* border: 1px rgb(152, 60, 194) solid; */
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #8585ad #2f2f37;
}

.scroll-box::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37; /* or add it to the track */
}

.scroll-box::-webkit-scrollbar-thumb {
  background: #8585ad;
}
