.number {
  text-shadow: 0 0 6px rgba(125, 10, 239, 0.92),
    0 0 30px rgba(111, 167, 160, 0.598), 0 0 12px rgba(117, 49, 195, 0.52),
    0 0 21px rgba(11, 67, 112, 0.813), 0 0 34px rgba(158, 42, 207, 0.78),
    0 0 54px rgba(122, 55, 236, 0.92);
}

.checkout {
  width: 120px;
  height: 120px;
}
